.single-meta {
        display: block;
        text-align:right;
        float:right;
        text-transform: uppercase;
        font-size: 13px;
}

.single_content_area {
        max-width:800px;
        padding:1.618em 3.236em;
        box-shadow: 0 4px 4px rgba(0,0,0,.5);
        margin:0 auto;
        float:none !important;
}

.archive_content_area {
        max-width:800px;
        padding:1.618em 3.236em;
        margin:0 auto;
        float:none !important;
}

.c {
        display:inline-block;
        width-min: 100%;
}

.post-wrap h1 {
        font-size: 36px !important;
}

.post-wrap h2 {
        font-size: 32px !important;
}

.post-wrap h3 {
        font-size: 28px !important;
}

.post-wrap h4 {
        font-size: 24px !important;
}

.post-wrap h5 {
        font-size: 20px !important;
}


.css-treeview ul,
.css-treeview li
{
        padding: 0;
        margin: 0;
        list-style: none;
}

.css-treeview > img
{
        float: left;
}

.css-treeview label
{
    font-size: 20px;
}

.download-link {
        float:right;
}

.row > a
{
        margin: 0 0 0 150px;
        text-decoration: none;
        font-size: 16px;
        -webkit-transition: all 0.0s ease-in-out;
        -moz-transition: all 0.0s ease-in-out;
        -ms-transition: all 0.0s ease-in-out;
        -o-transition: all 0.0s ease-in-out;
        transition: all 0.0s ease-in-out;
}
